<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="Badges" type="CardWall.BadgeConfiguration, CardWall.Site"/>
    <section name="QuickLinks" type="CardWall.QuickLinkConfiguration, CardWall.Site"/>
    <section name="BurndownCharts" type="CardWall.BurndownChartConfigurationSection, CardWall.Site"/>
  </configSections>

  <Badges>
    <Badge key="team north" name="Team North" url="~/Content/FamFamFam/flag_blue.png" />
    <Badge key="team south" name="Team South" url="~/Content/FamFamFam/flag_red.png" />
    <Badge key="team incredible" name="Team Incredibles" url="~/Content/FamFamFam/flag_pink.png" />
    <Badge key="sg 3 pricing" name="Pricing" url="~/Content/FamFamFam/money.png" />
    <Badge key="sg 1 usability" name="Usability" url="~/Content/FamFamFam/user_female.png" />
  </Badges>

  <QuickLinks>
    <Link path="Current" projects="173053 11621 13482 257255 263407"/>
  </QuickLinks>
  
  <BurndownCharts default="south">
    <chart key="north" title="Team North">
      <project>173053</project>
      <label>team north</label>
      <data-path>TeamNorthBurndown.txt</data-path>
      <end-date>2011-12-31</end-date>
    </chart>
    <chart key="incredible" title="Feasibility">
      <project>173053</project>
      <label>team incredible</label>
      <data-path>TeamIncrediblesBurndown.txt</data-path>
      <end-date>2011-12-31</end-date>
    </chart>
    <chart key="south" title="Team South">
      <project>173053</project>
      <label>team south</label>
      <data-path>TeamSouthBurndown.txt</data-path>
      <end-date>2011-12-31</end-date>
    </chart>
  </BurndownCharts>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

