body {
    background-color: #eee;
    font-family: Verdana, Sans-Serif;
}

#content {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(50%, 50%, 50%, 0.3);
    padding: 10px;
    padding-bottom: 60px;
    width: 240px;
    position: relative;
    top: 0px;
    margin: 10px;
    overflow: hidden;
}

.size1 {
    -o-transform: scale(0.8);
}

.size2 {
    -o-transform: scale(0.9);
}

.size4 {
    -o-transform: scale(1);
}
   
.card-footer {
    font-size: smaller;
    color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 1em;
}
.card-avatar {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.card-summary {
}
   
.card-badges {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-badges li {
  display: inline;
}
.card-tasks {
    font-size: smaller;
}

.card-tasks img {
    vertical-align: middle;
    padding-right: 3px;
}

.card-tasks ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-tasks li {
    font-size: 10px;
}

.card-project-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.33);
}

div.hidden {
    display: none;
    opacity: 0;
    -o-transition-property: opacity;
    -o-transition-duration: 4s;
}

*:hover > div.hidden {
    display: block; 
    opacity: 1.0;
}

.feature {
    background-color: #FFF5A8;
}
    
.bug {
    background-color: #FFA8AA; 
}
    
.chore { 
    background-color: #D4D4D4;
}

.release {
    background-color: #40A0FF;
}
 
.card-title { 
    font-size: 11pt;
    color: rgba(0, 0, 0, 0.95);
}

.card-labels {
    font-size: 8pt;
}
    
.lane {
    width: 260px;
    border-top: 2px solid rgba(0, 0, 0, 0.33); 
}

.lane + .lane {
    border-left: 4px dashed rgba(0, 0, 0, 0.33);
}

.lane-header {
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    background-color: #DDD;
}
